In [1]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
#create engine to connect to SQL database
engine = create_engine("postgresql://postgres:postgres@localhost/gun_violence_db")
#connect to SQL database
connection = engine.connect()

In [16]:
#define data sets

officer_kill_data = pd.read_sql('SELECT SUM(killed) AS "Officer Kills"\
                            FROM officer_involved_shootings', connection)

mass_shooting_data = pd.read_sql('SELECT SUM(killed) AS "Mass Shooting Kills"\
                            FROM mass_shootings_all', connection)

accidental_death_data = pd.read_sql('SELECT SUM(killed) AS "Accidental Deaths"\
                            FROM accidental_deaths', connection)

all_kills = pd.concat([officer_kill_data,mass_shooting_data,accidental_death_data], axis=1)

all_kills

   Officer Kills  Mass Shooting Kills  Accidental Deaths
0             26                  581                506